<div class="bb-employee-list">
    <app-data-grid
        [items]="employees" [columns]="columns" [filter]="initialFilter" [validators]="validators"
        (save)="onSave($event)" (delete)="onDelete($event)" (filtered)="onFilter($event)">
    </app-data-grid>

    <p>
        Listed employees {{ listedItems.length }} from {{ employees.length }}
    </p>

    <app-employee-contract-alert [employees]="employees">
    </app-employee-contract-alert>
</div>
