<h2> Fixed-term contracts which end soon: </h2>

<ul *ngIf="endingEmployees.length > 0">
    <li *ngFor="let employee of endingEmployees">
        {{employee.contractEnd | date:'dd. MM. yyyy'}}: {{employee.name}} {{employee.surname}}
    </li>
</ul>
