<table class="bb-data-grid">
    <thead>
        <tr>
            <td *ngFor="let column of columns">
                <div class="bb-data-grid-title">
                    <ng-container *ngIf="column.sortable">
                        <a href="#" (click)="sort(column)">{{column.title}}</a>
                    </ng-container>
                    <ng-container *ngIf="!column.sortable">
                        {{column.title}}
                    </ng-container>
                </div>
            </td>
        </tr>
        <tr app-data-grid-filter [columns]="columns" [filter]="filter"
                *ngIf="filterVisible" (filterChange)="onFilterChange($event)">
        </tr>
    </thead>

    <tbody>
        <tr app-data-grid-row-editable *ngFor="let item of listedItems"
            [item]="item" [columns]="columns" [validators]="validators"
            (save)="onSave($event)" (delete)="onDelete($event)">
        </tr>
        <tr class="bb-data-grid-delimiter">
            <td [attr.colspan]="columns.length + 2"></td>
        </tr>
        <tr app-data-grid-row-editable *ngFor="let item of newItems"
            [item]="item" [columns]="columns"
            (save)="onSave($event)" (cancel)="onCancel($event)">
        </tr>
        <tr>
            <td [attr.colspan]="columns.length"></td>
            <td [attr.colspan]="2">
                <button class="bb-data-grid-add" (click)="addItem()">
                    Add new
                </button>
            </td>
        </tr>
    </tbody>
</table>
