<td *ngFor="let column of columns">
    <ng-container [ngSwitch]="column.type" *ngIf="column.filterable">
        <ng-template [ngSwitchCase]="'choice'">
            <select [(ngModel)]="currentFilter[column.field]" (ngModelChange)="onChange($event)">
                <option *ngFor="let value of column.choices | async" [ngValue]="value">{{value}}</option>
            </select>
        </ng-template>
        <ng-template [ngSwitchCase]="'boolean'">
            <select [(ngModel)]="currentFilter[column.field]" (ngModelChange)="onChange($event)">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select>
        </ng-template>
        <ng-template [ngSwitchCase]="'date'">
            <input type="date" [(ngModel)]="currentFilter[column.field]" (ngModelChange)="onChange($event)" />
        </ng-template>
        <ng-template ngSwitchDefault>
            <input type="text" [(ngModel)]="currentFilter[column.field]" (ngModelChange)="onChange($event)" />
        </ng-template>
    </ng-container>
</td>
<td colspan="2">
    <button class="bb-data-grid-filter" (click)="clearFilter()">
        Clear filter
    </button>
</td>
