<td *ngFor="let column of columns">

    <!-- In edit mode display form controls -->
    <ng-container *ngIf="inEditMode" [formGroup]="form">
        <!-- form field -->
        <ng-container [ngSwitch]="column.type">
            <ng-template [ngSwitchCase]="'choice'">
                <select class="form-control" [formControlName]="column.field">
                    <option *ngFor="let value of choices[column.field]" [value]="value">{{value}}</option>
                </select>
            </ng-template>
            <ng-template [ngSwitchCase]="'boolean'">
                <input type="checkbox" class="form-control" [formControlName]="column.field">
            </ng-template>
            <ng-template [ngSwitchCase]="'date'">
                <input type="date" class="form-control" [formControlName]="column.field">
            </ng-template>
            <ng-template ngSwitchDefault>
                <input type="text" class="form-control" [formControlName]="column.field">
            </ng-template>
        </ng-container>

        <!-- form errors -->
        <div *ngIf="errors[column.field]" class="alert alert-danger">
            <div *ngFor="let error of errors[column.field]">
                {{ error }}
            </div>
        </div>
    </ng-container>

    <!-- In standard mode display just text -->
    <ng-container [ngSwitch]="column.type" *ngIf="!inEditMode">
        <ng-template [ngSwitchCase]="'date'">
            {{ item[column.field] | date:column.format ? column.format : 'dd. MM. yyyy' }}
        </ng-template>
        <ng-template [ngSwitchCase]="'boolean'">
            {{ item[column.field] | boolToText }}
        </ng-template>
        <ng-template ngSwitchDefault>
            {{ item[column.field] }}
        </ng-template>
    </ng-container>

</td>
<td>
    <button class="bb-data-grid-item-edit" *ngIf="!inEditMode" (click)="onEdit()">
        Edit
    </button>
    <button class="bb-data-grid-item-save" *ngIf="inEditMode" (click)="onSave(item)">
        Save
    </button>
</td>
<td>
    <button class="bb-data-grid-item-delete" *ngIf="!inEditMode" (click)="onDelete(item)">
        Delete
    </button>
    <button class="bb-data-grid-item-cancel" *ngIf="inEditMode" (click)="onCancel(item)">
        Cancel
    </button>
</td>
